<div class="content-footer">
    <div class="container">
      <div class="section-bg">  <!--styling for background image-->
      </div>
      <div class="row">
        <div class="col-md-3 col-xs-12 module-footer col-xs-half">
            <div class="about-footer">
                <div class="text-left">
                    <h2>ABOUT US</h2>
                </div>
                <div>
                    THIS IS A SAMPLE TEST.THIS IS A SAMPLE TESTTHIS IS A SAMPLE TESTTHIS IS A SAMPLE TESTTHIS IS A SAMPLE TESTTHIS IS A SAMPLE TESTTHIS IS A SAMPLE TESTTHIS IS A SAMPLE TESTTHIS IS A SAMPLE TESTTHIS IS A SAMPLE TESTTHIS IS A SAMPLE TESTTHIS IS A SAMPLE TESTTHIS IS A SAMPLE TESTTHIS IS A SAMPLE TEST
                </div>
            </div>					
        </div>
        <div class="col-md-3 col-xs-12 module-footer col-xs-half">
            <p><span class="h2">QUICK LINKS</span></p>
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="col-md-3 col-xs-12 module-footer col-xs-half">
            <span class="h2">GET IN TOUCH</span>
            <ul class="tags">
                <li></li>
                <li></li>
                <li></li>
            </ul>                       
        </div>		
        <div class="col-md-3 col-xs-12 col-xs-half">
            <div class="newsletter-footer">
                <p></p>
                <form action="#" method="post" id="newsletter-validate-detail">
                    <div class="block-content">
                        <div class="input-box">
                            <input type="text" placeholder="Enter your email address" name="email" id="newsletter" title="Enter your email address" />
                            <button id="btn-newsletter" type="submit" title="Subscribe" class="button">Subscribe</button>
                        </div>
                    </div>
                </form>   
            </div>          
        </div>					       				
      </div>
    </div>
</div>

<div class="bottom-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <address>&copy; HANSIS IT SUPERVISION. All Rights Reserved.</address>
        </div>
        <div class="col-sm-6 col-xs-12">
          <ul class="follow-us">
              <li><a class="facebook" href="#" target="_blank" rel="nofollow"> <span class="fa fa-facebook">&nbsp;</span> </a></li>
              <li><a class="twitter" href="#" target="_blank" rel="nofollow"> <span class="fa fa-twitter">&nbsp;</span> </a></li>
              <li><a class="google" href="#" target="_blank" rel="nofollow"> <span class="fa fa-google-plus">&nbsp;</span> </a></li>
              <li><a class="share" href="#" target="_blank" rel="nofollow"> <span class="fa fa-rss">&nbsp;</span> </a></li>
          </ul>		
        </div>
      </div>     
    </div>
</div>
