<header id="header" class="navbar">
  <div class="container">
      <div class="navbar-header">
          <div class="navbar-brand">
              <a class="logo" href="">
                  <img class="logo-img" src="" alt="logo">
                  <img class="logo-alt-img" src="" alt="logo" width="160px" height="100%">
              </a>
          </div>
          <button class="navbar-toggle">
            <i class="fa fa-bars" style="background-color:black"></i>
          </button>
      </div>
      <nav id="nav">
          <ul class="main-nav nav navbar-nav navbar-right open">
          <li><a href="#">HOME</a></li>
          <li><a href="#">PRODUCT</a></li>
          <li><a href="#">FEATURES</a></li>
          <li><a href="#">LOGIN</a></li>
          <li><a href="#">CONTACT</a></li>        
      </ul>
      </nav>
  </div>
</header>