
.numbers {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .numbers h3 {
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center;
  }
  
  .numbers p {
    text-transform: uppercase;
    text-align: center;
    color: #0b0f28;
  }

  #product-section-name {
      text-align: center
  }