<div class="col-md-8 col-md-offset-2 text-center">
    <div class="about-content" id="product-details">
        <div class="row" id="product-section-name">
            <h2>CATEGORY 1</h2>
        </div>
        <div class="row" id="product-section-details">
            <p> THIS IS JUST A SAMPLE PAGE</p>
        </div>
    </div>
    <div class="about-content" id="products-section-items">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="numbers">
                    <a href="#" class="sponsor">
                        <img src="" alt="" >
                        <p>
                            
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
